// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.swipe-styling-attributes {
  float: left;
  display: inline;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transform: translate(0, 0);
}

#add-image-forms {
  @include outer-container;
  margin-bottom: 20px;
  @include media($large-mobile-landscape-down) {
    margin-left: 40px;
  }
  @include media($large-screen-down) {
    display: none;
  }
  #local-image-form, #remote-image-form {
    @include span-columns(5);
    position: relative;
    .form-title {
      font-size: 20px;
      font-weight: bold;
    }
  }
  #local-image-form {
    .form-pixel-push {
      height: 7px;
    }
  }
}

#container {
  position: relative;
  @include media($large-screen-down) {
    position: fixed;
    bottom: 0;
  }
  #thumbnails-container {
    left: 0;
    right: 0;
    height: 120px;
    bottom: 0;
    @extend .swipe-styling-attributes;
    @include media($medium-screen-down) {
      height: 80px;
      img {
        height: 100%;
        width: auto;
      }
    }
    .image-thumbnail {
      float: left;
      padding: 0;
      margin: 0;
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      &:hover {
        opacity: 0.7;
      }
      img {
        transform: translate(0, 0);
      }
    }
    .unselected-image-opacity {
      opacity: 1;
    }
    .selected-image-opacity {
      opacity: 0.7;
    }
  }
  #images-container {
    @extend .swipe-styling-attributes;
    .direction-arrow {
      width: 60px;
      height: 60px;
      font-size: 50px;
      padding: 10px 20px 0 15px;
      background-color: #000;
      color: #FFF;
      z-index: 10;
      margin: 0 auto;
    }
    .visible-image {
      display: inline;
      @include media($medium-screen-up) {
        @include row(table);
      }
      .direction-wrapper {
        @include span-columns(2);
        vertical-align: middle;
        @include media($large-screen-down) {
          display: none;
        }
        .direction-arrow-prev {
          @extend .direction-arrow;
        }
        .direction-arrow-next {
          @extend .direction-arrow;
        }
      }
      .image-wrapper {
        @include span-columns(8);
        @include media($large-screen-down) {
          @include span-columns(8);
        }
        text-align: center;
        img {
          margin: 0;
          padding: 0;
          height: 600px;
          max-width: 100%;
          transform: translate(0, 0);
          @include media($large-screen-down) {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .hidden-image {
      display: none;
    }
  }
}
